.q-btn[data-v-357bca58]{font-weight:600}.q-card[data-v-357bca58]{max-width:600px}.q-card-section[data-v-357bca58]{padding:16px}.q-input[data-v-357bca58],.q-select[data-v-357bca58]{margin-bottom:16px}
